<div class="big-logo">
  <!-- logo and header name -->
  <div class="big-logo big-logo-url1">
  </div>
  <div class="header-text">
    <div class="header-text-main">Rabo Bank</div>
    <div class="header-text-main-sub">Grow With Us</div>
  </div>
  <!-- nav icon for mobile apps -->
  <div id="nav-icon1">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- menu for desktop view -->
  <div class="nav-container">
    <div class="trigger">Menu</div>
    <div class="nav-menu">
      <ul class="clearfix">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="transactions">Transactions</a></li>
        <li><a routerLink="contacts">Contact</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>