@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.button {
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  border: 1px solid #efefef;
  padding: .5em;
  border-radius: 3px;
  float: left;
  width: 300px;
  left: calc((100% - 300px) / 2);
  position: relative;
  transition: all .3s linear;
}

.button:hover {
  background-color: #007aff;
  color: #fff;
}

p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 12rem;
  font-weight: 300;
}